*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.container{
  display: flex;
  flex:1;
  flex-direction: column;
  width: 40%;
  justify-content: center;
}
.counter{
  display: flex;
  justify-content: center;
}
.value,button {
  
  padding :20px;
}
button{
  border-radius: 4px;
}
.reset{
  width: 100%;
  display: flex;
  justify-content: center;
}
.btn-reset{
  width: 100%;
  margin:15px;
  background:#48f542;
  text-align: center;
  justify-content: center;
}